---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

{% if site.author.googlescholar %}
  <div class="wordwrap">Complete list of writings is available at <a href="{{site.author.googlescholar}}">my Google Scholar profile.</a> If any of them are not accessible, do write to me. E-mail ID on the home page.</div>
{% endif %}

{% include base_path %}

